
<div class="mini-title-head-bar logiq1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub">
            <li><%= link_to 'Home',root_path %></li>
            <li class="active">Add New Students</li>
          </ul>                    
        </ol>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <%= form_for [@school, @student] do|f|%>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
    <% if alert %>
      <center><p class="alert alert-danger"><%= alert %></p></center>
    <% end %>
    <% if flash[:notice] %>
      <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
    <% end %>
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class="">Add New Students</strong>
        </div>
        <div class="panel-body">
        <div class="tplgin4">
          <input type= checkbox , class = 'submittable'/> Copy schools details
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :first_name,:class=>"col-sm-12 control-label adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :first_name, autocomplete: "off",:class=>"form-control",:required => true %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:first_name].join(",") %> 
                  </span> 
                </div>
                
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
            	<div class="form-group ">
                <%= f.label :middle_name,:class=>"col-sm-12 adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :middle_name, autocomplete: "off",:class=>"form-control"%>
                  <span class="inline-errors-student">
                    <%=@student.errors[:middle_name].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
            	<div class="form-group required">
                <%= f.label :last_name,:class=>"col-sm-12 control-label adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :last_name, autocomplete: "off",:class=>"form-control",:required => true %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:last_name].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
          	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :dob, :class=>"col-sm-6 control-label adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :dob, :class=>"form-control" %>
                  <!-- <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span> -->
                  <span class="inline-errors-student">
                    <%=@student.errors[:dob].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :address_line_1,:class=>"col-sm-6 adnwstdnt" %> 
                <div class="col-sm-12">
                  <%= f.text_field :address1, autocomplete: "off",:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:address1].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :address_line_2,:class=>"col-sm-6 adnwstdnt" %> 
                <div class="col-sm-12">
                  <%= f.text_field :address2, autocomplete: "off",:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:address2].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :address_line_3,:class=>"col-sm-6 adnwstdnt" %> 
                <div class="col-sm-12">
                  <%= f.text_field :address3, autocomplete: "off",:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:address3].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :country,:class=>"col-sm-6 control-label adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.select :country, region_options_for_select(only_us_and_canada),{},:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:country].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :state, :class=>"col-sm-6 adnwstdnt" %>
                <div class="col-sm-12">
                  <%= render partial: 'students/subregion_select', locals: {parent_region: f.object.country},:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:state].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :city,:class=>"col-sm-6 adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :city, autocomplete: "off",:class=>"form-control"  %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:city].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :zip,:class=>"col-sm-6 adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :zip, autocomplete: "off",:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:zip].join(",") %> 
                  </span>
                </div>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <%= f.label :primary_phone, :class=>"col-sm-6 adnwstdnt"%>
                <div class="col-sm-12">
                  <%= f.text_field :phone, autocomplete: "off",:class=>"form-control" %>
                  <span class="inline-errors-student">
                    <%=@student.errors[:phone].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :email, :class=>"col-sm-6 control-label adnwstdnt" %>
                <div class="col-sm-12" id="email_div">
                  <%= f.text_field :email,:class=>"form-control",:required => true %> 
                  <span class="inline-errors-student">
                    <%=@student.errors[:email].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :enroll_date, :class=>"col-sm-6 control-label adnwstdnt" %>
                <div class="col-sm-12">
                    <%= f.text_field :enroll_date, :class=>"form-control" %>
                    <!-- <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span> -->
                  <span class="inline-errors-student">
                    <%=@student.errors[:enroll_date].join(",") %> 
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group required">
                <%= f.label :graduation_date, :class=>"col-sm-7 control-label adnwstdnt" %>
                <div class="col-sm-12">
                  <%= f.text_field :graduation_date,  :class=>"form-control" %>
                    <!-- <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span> -->
                  <span class="inline-errors-student">
                    <%=@student.errors[:graduation_date].join(",") %> 
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"> <strong class="">Academic Details</strong>
        </div>
        <div class="panel-body">
          <div class="input_fields_wrap">
            <div class="panel-heading student-class">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tplgin3"><strong class="">Class 1</strong></div>
              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rptrq1"></div> -->
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
                <div class="form-group">
                  <label class="col-sm-12 adnwstdnt">Year</label>
                  <div class="col-sm-12">
                    <%= select_tag "completion_year[]", options_for_select([['Freshman ', 'Freshman'], ['Sophomore', 'Sophomore'],['Junior', 'Junior'],['Senior', 'Senior']]),:prompt=>'Select Year', :class=>"form-control"%>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
                <div class="form-group">
                  <label  class="col-sm-12 adnwstdnt">Subject</label>
                  <div class="col-sm-12">
                    <input class="form-control" type="text" name="subject[]">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
               <div class="form-group">
                <label  class="col-sm-12 adnwstdnt">Course Name</label>
                <div class="col-sm-12">
                  <input class="form-control" type="text" name="course_name[]">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <label  class="col-sm-12 adnwstdnt">Honors</label>
                <div class="col-sm-12">
                  <%= select_tag "honors[]", options_for_select([['No ', 'No'], ['Yes', 'Yes']]), :class=>"form-control"%>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
              <div class="form-group">
                <label  class="col-sm-12 adnwstdnt">Grade</label>
                <div class="col-sm-12">
                  <%= select_tag "grade[]", options_for_select([['A+ ', 'A+'], ['A', 'A'],['A-', 'A-'],['B+', 'B+'],['B', 'B'],['B-', 'B-'],['C+', 'C+'],['C', 'C'],['C-', 'C-'],['D+', 'D+'],['D', 'D'],['D-', 'D-'],['F', 'F'],['CR', 'CR'],['NC', 'NC'],['W', 'W'],['I', 'I']]), :class=>"form-control"%>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tplgin3">
             <div class="form-group">
              <label  class="col-sm-12 adnwstdnt">Credit</label>
              <div class="col-sm-12">
                <select name="credits[]" class="form-control" >
                  <option value ="0.5">0.5</option>
                  <option value ="1.0">1.0</option>
                  <option value ="2.0">2.0</option>
                </select>
              </div>
            </div>
          </div>
          <input type="hidden" name="total_credit[]">
          <input type="hidden" name="gpa_credit[]">
          <input type="hidden" name="gpa_points[]">
          <input type="hidden" name="cumulative_gpa[]">
        </div>
      </div>
    </div>
    <div class="panel-footer rptrq2">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tplgin3">
        <input type="button" class="btn btn-info add_field_button" value="Add Another Class">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rptrq1">
        <%= f.submit "Create",:class=>"btn btn-success" %>
      </div>    
    </div>
  </div>
</div>
<%end%>
</div>
</div>

