<input type= checkbox , class = 'submittable'> Copy schools details
<br>

<%= form_for [@school, @student] do|f|%>
<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :middle_name %><br />
  <%= f.text_field :middle_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :dob %><br />
  <%= f.text_field :dob, autofocus: true %>
</div>

<div class="field">
  <%= f.label :address_line_1 %> <br />
  <%= f.text_field :address1, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :address_line_2 %> <br />
  <%= f.text_field :address2, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :address_line_3 %> <br />
  <%= f.text_field :address3, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :country %> <br />
  <%= f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'} %>
</div>


<div class="field">
  <%= f.label :state %> <br />
  <%= render partial: 'students/subregion_select', locals: {parent_region: f.object.country} %>
  
</div>

<div class="field">
  <%= f.label :city %> <br />
  <%= f.text_field :city, autocomplete: "off" %>
</div>


<div class="field">
  <%= f.label :zip %> <br />
  <%= f.text_field :zip, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :primary_phone %> <br />
  <%= f.text_field :phone, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.label :enroll_date %><br />
  <%= f.text_field :enroll_date %>
</div>

<div class="field">
  <%= f.label :graduation_date %><br />
  <%= f.text_field :graduation_date %>
</div>

<br><br>

<h2>Academic details </h2>

<div class="input_fields_wrap">
  <input type="button" class="add_field_button" value="Add More Fields">
  
  <div>
    <h3>Educational Detail 1</h3>
    <div class="field">
      <label for="grad_name">Graduation Name</label><br>
      <input type="text" name="grad_name[]">
    </div>

    <div class="field">
      <label for="completion_year">Completion Year</label><br>
      <input type="text" name="completion_year[]">
    </div>

    <div class="field">
      <label for="description">Description</label><br>
      <input type="text" name="description[]">
    </div>

    <div class="field">
      <label for="subject">Subject</label><br>
      <input type="text" name="subject[]">
    </div>

    <div class="field">
      <label for="course_name">Course Name</label><br>
      <input type="text" name="course_name[]">
    </div>

    <div class="field">
      <label for="honors">Honors</label><br>
      <input type="text" name="honors[]">
    </div>

    <div class="field">
      <label for="grade">Grade</label><br>
      <input type="text" name="grade[]">
    </div>

    <div class="field">
      <label for="credits">Credits</label><br>
      <input type="text" name="credits[]">
    </div>

    <div class="field">
      <label for="total_credit">Total Credit</label><br>
      <input type="text" name="total_credit[]">
    </div>

    <div class="field">
      <label for="gpa_credit">Gpa Credit</label><br>
      <input type="text" name="gpa_credit[]">
    </div>

    <div class="field">
      <label for="gpa_points">Gpa Points</label><br>
      <input type="text" name="gpa_points[]">
    </div>

    <div class="field">
      <label for="cumulative_gpa">Cumulative Gpa</label><br>
      <input type="text" name="cumulative_gpa[]">
    </div>
  </div>
</div>

<div class="actions">
  <%= f.submit "Create" %>
</div>
<%end%>