
<div class="mini-title-head-bar logiq1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="greybeadcrub">
					<ul class="greybeadcrub"><li><%= link_to 'Home',root_path %></li>
						<li class="active">Students</li>
					</ul>                    
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading"> <strong class="">Existing Students</strong>
				</div>
					<table class="table table-striped table-responsive table-bordered">
						<tbody>
							<tr>
								<td><strong>Name</strong></td>
								<td align="center" valign="middle"><strong>Date of Birth</strong></td>
								<td colspan="4" align="left" valign="middle"></td>
							</tr>
							<% @student.each do |student|%>
							<tr>
								<td><%= student.first_name %> <%= student.middle_name %> <%= student.last_name %></td>
								<td align="center" valign="middle"><%= student.dob%></td>
								<td align="center" valign="middle">
									<%= link_to 'Show' , school_student_path(student.school,student.id), :class=> 'btn btn-primary btn-xs'%>
								</td>

								<td align="center" valign="middle">
										<%= link_to 'Edit' , edit_school_student_path(student.school,student.id) , :class=>'btn btn-info btn-xs glyphicon glyphicon-edit'%>
								</td>
								<td align="center" valign="middle">
										<%= link_to 'Destroy' , school_student_path(student.school,student.id),method: :delete , data: {confirm: 'Are you sure'} , :class=>'btn btn-danger btn-xs glyphicon glyphicon-trash'%>
								</td>
								<td align="center" valign="middle">
									<%= link_to ' View Pdf',view_pdf_path(student), :class=>'btn btn-success btn-xs glyphicon glyphicon-print'%> 
								</td>

							</tr>
							
							<%end%>
						</tbody></table>
						<div class="panel-footer txtalyn3">
							<%= link_to 'Add New Student',new_school_student_path(@school.id), class: 'btn btn-primary btn-xs'%>
						</div>
					</div>
				</div>

			</div>
		</div>


