    <div id="main_content">

      <%= form_for :student, url: admin_student_path ,method: :patch do|f|%>

      <fieldset class="inputs">
        <legend>
          <span>Edit Student Details</span>
        </legend>

        <ol>
         <li class="select input optional">
          <%= f.label :school_name %>
          <%= f.select :school_id, options_for_select(School.all.map{ |school| ["#{school.school_name}", school.id] }), :prompt=>'Please Select School'  %>
          <p class="inline-errors">
            <%=@student.errors[:school_id].join(",") %> 
          </p>
        </li>
        <li class="string input optional stringish">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true %>
           <p id="first_name_error" class="inline-errors">
              <%=@student.errors[:first_name].join(",") %> 
            </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :middle_name %>
          <%= f.text_field :middle_name, autofocus: true %>
        </li>

        <li class="string input optional stringish">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true %>
           <p id="last_name_error" class="inline-errors">
              <%=@student.errors[:last_name].join(",") %> 
            </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :dob %>
          <%= f.text_field :dob, autofocus: true,readonly: true %>
          <p id= "student_dob_error" class="inline-errors">
              <%=@student.errors[:dob].join(",") %> 
            </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :address_line_1 %> 
          <%= f.text_field :address1, autocomplete: "off" %>
        </li>

        <li class="string input optional stringish">
          <%= f.label :address_line_2 %> 
          <%= f.text_field :address2, autocomplete: "off" %>
        </li>

        <li class="string input optional stringish">
          <%= f.label :address_line_3 %> 
          <%= f.text_field :address3, autocomplete: "off" %>
        </li>

        <li class="string input optional stringish">
          <%= f.label :country %> 
          <%= f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'} %>
        </li>


        <li class="string input optional stringish">
          <%= f.label :state %> 
          <%= f.text_field :state, autocomplete: "off" %>
        </li>

        <li class="string input optional stringish">
          <%= f.label :city %> 
          <%= f.text_field :city, autocomplete: "off" %>
        </li>


        <li class="string input optional stringish">
          <%= f.label :zip %> 
          <%= f.text_field :zip, autocomplete: "off" %>
          <p id="zip_error" class="inline-errors">
              <%=@student.errors[:zip].join(" and ") %> 
            </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :primary_phone %> 
          <%= f.text_field :phone, autocomplete: "off" %>
           <p id="phone_error" class="inline-errors">
              <%=@student.errors[:phone].join(" and ") %> 
            </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
          <p id= "student_email_error" class="inline-errors">
            <%=@student.errors[:email].join(",") %> 
          </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :enroll_date %>
          <%= f.text_field :enroll_date,readonly: true%>
          <p id="student_enroll_date_error" class="inline-errors">
            <%=@student.errors[:enroll_date].join(",") %> 
          </p>
        </li>

        <li class="string input optional stringish">
          <%= f.label :graduation_date %>
          <%= f.text_field :graduation_date,readonly: true %>
           <p id ="student_graduation_date_error" class="inline-errors">
            <%=@student.errors[:graduation_date].join(",") %> 
          </p>
        </li>
      </ol>
      

      <h2>Courses </h2>

      <div class="input_fields_wrap">
        <% x=0%>
        <input type="button" class="add_field_button" value="Add More Fields">

        <% @student.subject.each do |stu|%>
        <% 
        if x==0
          cl="education"
        else
          cl = "education secondEdu"
        end
        %>
        <div class="<%= cl %>">
          <h3>Course <%= x+1%></h3>
          <% if x==0 %>
          <div style="clear:both;"></div>
          <%else%>
          <a href="#" class="remove_field">Remove</a>
          <%end%>
          
          <div style="clear:both;"></div>
          <ol>
            



            <li class="string input optional stringish">
               <label for="completion_year">Completion Year</label>

                <%= select_tag "completion_year[]", options_for_select([['Freshman ', 'Freshman'], ['Sophomore', 'Sophomore'],['Junior', 'Junior'],['Senior', 'Senior']],:selected => @student.completion_year[x]),:prompt=>'Please Select'%>
           </li>




           <li class="string input optional stringish">
              <label for="subject">Subject</label>
              <input type="text" name="subject[]" value= "<%= @student.subject[x] %>">
            </li>

            <li class="string input optional stringish">
              <label for="course_name">Course Name</label>
              <input type="text" name="course_name[]" value= "<%= @student.course_name[x] %>">
            </li>

            <li class="string input optional stringish">
            <label for="honors">Honors</label>
             <%= select_tag "honors[]", options_for_select([['No ', 'No'], ['Yes', 'Yes']],:selected =>  @student.honors[x])%>
           </li>
            <li class="string input optional stringish">
              <label for="grade">Grade</label>
                 <%= select_tag "grade[]", options_for_select([['A+ ', 'A+'], ['A', 'A'],['A-', 'A-'],['B+', 'B+'],['B', 'B'],['B-', 'B-'],['C+', 'C+'],['C', 'C'],['C-', 'C-'],['D+', 'D+'],['D', 'D'],['D-', 'D-'],['F', 'F'],['CR', 'CR'],['NC', 'NC'],['W', 'W'],['I', 'I']],:selected => @student.grade[x])%>
           </li>
           <li class="string input optional stringish">
             <label for="credit">Credit</label>
             <%= select_tag "credits[]", options_for_select([['0.5 ', '0.5'], ['1.0', '1.0'],['2.0 ', '2.0']],:selected => @student.credits[x])%>
             </li>
             <input type="hidden" name="total_credit[]" value= "<%= @student.total_credit[x] %>">
             <input type="hidden" name="gpa_credit[]" value= "<%= @student.gpa_credit[x] %>">
             <input type="hidden" name="gpa_points[]" value= "<%= @student.gpa_points[x] %>">
             <input type="hidden" name="cumulative_gpa[]" value= "<%= @student.cumulative_gpa[x] %>">
             
           </ol>
         </div>
         <% x=x+1%>
         <%end%>
       </div>
       <input type= "hidden" value= "<%=x%>" id="xval">
       <fieldset class="actions">
        <ol>
          <li id="student_edit_submit_action" class="action input_action ">
           <%= f.submit "Update" %>
         </li>
         <li class="cancel">
          <a href="/admin/students">Cancel</a>
        </li>
      </ol>
    </fieldset>
    <%end%>

  </div>