<%= wicked_pdf_stylesheet_link_tag "pdf" , media: 'all' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'active_admin', media: 'all', 'data-turbolinks-track' => true %>
<style type="text/css">
    @media print
    {
        #pdf_link * { display:none ; }
        .wraper * { visibility: visible; }
        .footer1 * { display:none ; }
        #wrapper * { display:none ; }
        .container * { display:none ; }
        .container-fluid * { display:none ; }
        .mini-title-head-bar * { display:none ; }
        .rgt-side{
            width:45%;
        }
        .course {
            background-color: #ccc!important;
        }
        .lite_section{
            background-color: #eaeaea!important;
        }
        .cumulative{
            background-color: #ccc!important;
        }
        .total_cr{
            background-color: #eaeaea!important;
        }
        .summary{
            background-color: #eaeaea!important;
        }
        .authoeize{
            background-color:#eaeaea!important;
        }
        .authoeize input, .text-table {
            background-color: #fff!important;
        }
        .table1 table th {
            background-color: #ccc!important;
        }
        .table1 table td {
            background-color: #eaeaea!important;
        }
    }
</style>
<style type="text/css">
    a, a:link, a:visited {
        text-decoration: none!important;
        color: #fff!important;
    }
</style>


<%
if resource.school.user.subscription.plan_id.blank?
    style = 'background-image: url("/assets/trial.jpg");'
else
    style = ''
end
%>
<body class="view_pdf admin_students active_admin logged_in admin_namespace">
<div id="wrapper">
      <div id="header" class="header">
        <h1 id="site_title" class="site_title">Educational Record</h1>
        <ul id="tabs" class="header-item tabs">
          <li id="dashboard"><a href="/admin/dashboard">Dashboard</a></li>
          <li id="admin_users"><a href="/admin/admin_users">Admin Users</a></li>
          <li id="pages"><a href="/admin/pages">Pages</a></li>
          <li id="schools"><a href="/admin/schools">Schools</a></li>
          <li id="students" class="current"><a href="/admin/students">Students</a></li>
          <li id="users"><a href="/admin/users">Users</a></li>
        </ul>
        <ul id="utility_nav" class="header-item tabs">
          <li id="current_user"><a href="/admin/admin_users/1">admin@example.com</a></li>
          <li id="logout"><a href="/admin/logout" data-method="get">Logout</a></li>
        </ul>
      </div>
      <div id="title_bar" class="title_bar">
        <div id="titlebar_left">
          
          <h2 id="page_title">View PDF</h2>
        </div>
        <div id="titlebar_right">
          <div class="action_items">
            
          </div>
        </div>
      </div>
      <div class="flashes"></div>
</div>

<div class="wraper" style= '<%= style %>'>
    <div>
        <div class="lft-side">
            <h4>HIGH SCHOOL TRANSCRIPT</h4>
            (Grades Freshman-Senior)<br/><br/>
            Graduation Date: <%=@student.graduation_date%>

        </div>
        <div class="rgt-side">

            <div class="school_logo">
                <% if params[:format]=="pdf" %>
                <%= wicked_pdf_image_tag '/img/logo_school.jpg' %>
                <%else%>
                 <%= image_tag (@student.school.logo) %>
                <%end%>                                
            </div>
        </div>

        <div class="add_section">
            <div class="f-side">
                <div>
                    <span class="st-info">School of Record</span><br />
                    <%=@school.school_name%><br>
                    School Administrator: <%=@school.admin_name%><br>
                    <%=@school.address1%> <%=@school.address2%> <%=@school.address3%><br>
                    <%@school_country = Carmen::Country.coded(@school.country)%>
                    <% @subregions = @school_country.subregions %>
                    <% @school_state = @subregions.coded(@school.state) %>
                    <%if @school_state.blank?%>
                    <%= @school.state%>,             
                    <%else%>
                    <%=@school_state.name%>,
                    <%end%><%=@school_country%>, <%=@student.zip%><br>
                    <%if !@school.phone.blank?%>
                    <%=@school.phone%><br>
                    <%end%>
                    <%if !@school.email.blank?%>
                    <%=@school.email%><br>
                    <%end%>

                </div>
            </div>

            <div class="s-side">
                <div>
                    <span class="st-info">Student Information</span><br />
                    <%=@student.first_name%> <%=@student.middle_name%> <%=@student.last_name%><br>
                    
                    Date of Birth: <%=@student.dob%><br>
                    <%if !@student.address1.blank?%>

                    <%=@student.address1+' '+@student.address2+' '+@student.address3 %><br>
                    <%end%>
                    <%@country = Carmen::Country.coded(@student.country)%>
                    <% @subregions = @country.subregions %>
                    <% @state = @subregions.coded(@student.state) %>
                    <%if @state.blank?%>
                    <%= @student.state%>,
                    <%else%>
                    <%=@state.name%>,
                    <%end%>
                    <%=@country%>, <%=@student.zip%><br>
                    <%if !@student.phone.blank?%>
                    <%=@student.phone%><br>
                    <%end%>
                    <%if !@student.email.blank?%>
                    <%=@student.email%><br>
                    <%end%>

                </div>

            </div>
        </div>
        <div class="clear"></div>
        <div class="clearmargin"></div>
        <%
        @frsh=Hash.new
        @soph=Hash.new 
        @jun=Hash.new
        @sen=Hash.new
        @val=Hash.new
        @val={"A+"=>4.3,"A"=>4.0,"A-"=>3.7,"B+"=>3.3,"B"=>3.0,"B-"=>2.7,"C+"=>2.3,"C"=>2.0,"C-"=>1.7,"D+"=>1.3,"D"=>1.0,"D-"=>0.7,"F"=>0,"CR"=>0,"NC"=>0,"W"=>0,"I"=>0}
        %>
        <%
        @student.completion_year.length.times do|academic|


            if @student.completion_year[academic]=="Freshman"
                @frsh[academic]={"subject"=> @student.subject[academic],"honor"=>@student.honors[academic],"grade"=>@student.grade[academic],"credit"=>@student.credits[academic],"course"=>@student.course_name[academic]}

            elsif @student.completion_year[academic]=="Sophomore"
                @soph[academic]={"subject"=> @student.subject[academic],"honor"=>@student.honors[academic],"grade"=>@student.grade[academic],"credit"=>@student.credits[academic],"course"=>@student.course_name[academic]}

            elsif @student.completion_year[academic]=="Junior"
                @jun[academic]={"subject"=> @student.subject[academic],"honor"=>@student.honors[academic],"grade"=>@student.grade[academic],"credit"=>@student.credits[academic],"course"=>@student.course_name[academic]}

            else @student.completion_year[academic]=="Senior"
                @sen[academic]={"subject"=> @student.subject[academic],"honor"=>@student.honors[academic],"grade"=>@student.grade[academic],"credit"=>@student.credits[academic],"course"=>@student.course_name[academic]}
            end

        end
        %>

        <div class="qpd-outer">
            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <%if @frsh.count > 0%>
                    <table class="table table-bordered" border="0">
                        <thead>
                            <tr>                    
                                <th width="308">&nbsp;Course Study - Freshman</th>
                                <th width="110">Weighted</th>
                                <th width="73">&nbsp;Grade </th>
                                <th width="73">&nbsp;Credits</th>                    
                            </tr>
                        </thead>
                        <% @gpa = 0
                        @ftcredit = 0 %>
                        <% @frsh.each do |k,val| %>
                        <tbody>
                            <tr>                    
                                <td>&nbsp;<%= val["subject"] %>: <%= val["course"] %></td>
                                <td><%= val["honor"]%></td>
                                <td>&nbsp;<%= val["grade"]%></td>
                                <td>&nbsp;<%= val["credit"]%></td>
                                <%
                                if val["honor"]=='AP'
                                    ap=1 
                                elsif val["honor"]=='Honors'
                                    ap=0.5
                                else
                                    ap=0
                                end
                                @gpa = @gpa + @val[val["grade"]] +ap
                                if !['F', 'NC', 'CR', 'W', 'I'].include?  val["grade"]
                                    @ftcredit = @ftcredit + val["credit"].to_f
                                else
                                    @ftcredit = @ftcredit + val["credit"].to_f
                                end
                                @fgpacredit = @gpa/@ftcredit

                                %>                   
                            </tr>
                            <%end%>
                            <tr>
                                <%@fgpacredit=="NaN" ? @cum=0 : @cum=@fgpacredit %>                  
                                <td colspan=3 >&nbsp;GPA = <%= (@cum * 100).round / 100.0 %></td>
                                <td><%=@ftcredit%></td>
                            </tr>

                        </tbody>

                    </table>
                    <% end %>
                </div>
            </div>


            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <%if @jun.count > 0%>
                    <table class="table table-bordered" border="0">
                        <thead>
                            <tr>                    
                                <th width="308">&nbsp;Course Study - Junior</th>
                                <th width="110">Weighted</th>
                                <th width="73">&nbsp;Grade </th>
                                <th width="73">&nbsp;Credits</th>                    
                            </tr>
                        </thead>
                        <% @gpa = 0
                        @jtcredit = 0 %>
                        <% @jun.each do |k,val| %>
                        <tbody>
                            <tr>                    
                                <td>&nbsp;<%= val["subject"] %>: <%= val["course"] %></td>
                                <td><%= val["honor"]%></td>
                                <td>&nbsp;<%= val["grade"]%></td>
                                <td>&nbsp;<%= val["credit"]%></td>
                                <%
                                if val["honor"]=='AP'
                                    ap=1 
                                elsif val["honor"]=='Honors'
                                    ap=0.5
                                else
                                    ap=0
                                end
                                @gpa = @gpa + @val[val["grade"]] +ap
                                if !['F', 'NC', 'CR', 'W', 'I'].include?  val["grade"]
                                    @jtcredit = @jtcredit + val["credit"].to_f
                                else
                                    @jtcredit = @jtcredit + val["credit"].to_f
                                end
                                @jgpacredit = @gpa/@jtcredit

                                %>                  
                            </tr>
                            <%end%>
                            <tr>
                                <%@jgpacredit=="NaN" ? @cum=0 : @cum=@jgpacredit %>                  
                                <td colspan=3 >&nbsp;GPA = <%= (@cum * 100).round / 100.0 %></td>
                                <td><%=@jtcredit%></td>
                            </tr>

                        </tbody>

                    </table>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="clearfq"></div>     
        <div class="qpd-outer">
            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <%if @soph.count > 0%>
                    <table class="table table-bordered" border="0">
                        <thead>
                            <tr>                    
                                <th width="308">&nbsp;Course Study - Sophomore</th>
                                <th width="110">Weighted</th>
                                <th width="73">&nbsp;Grade </th>
                                <th width="73">&nbsp;Credits</th>                    
                            </tr>
                        </thead>
                        <% @gpa = 0
                        @stcredit = 0 %>
                        <% @soph.each do |k,val| %>
                        <tbody>
                            <tr>                    
                                <td>&nbsp;<%= val["subject"] %>: <%= val["course"] %></td>
                                <td><%= val["honor"]%></td>
                                <td>&nbsp;<%= val["grade"]%></td>
                                <td>&nbsp;<%= val["credit"]%></td>
                                <%
                                if val["honor"]=='AP'
                                    ap=1 
                                elsif val["honor"]=='Honors'
                                    ap=0.5
                                else
                                    ap=0
                                end
                                @gpa = @gpa + @val[val["grade"]] +ap
                                if !['F', 'NC', 'CR', 'W', 'I'].include?  val["grade"]
                                    @stcredit = @stcredit + val["credit"].to_f
                                else
                                    @stcredit = @stcredit + val["credit"].to_f
                                end
                                @sgpacredit = @gpa.to_f/@stcredit

                                %>                 
                            </tr>
                            <%end%>
                            <tr>
                                <% @sgpacredit=="NaN" ? @cum=0 : @cum=@sgpacredit %>                  
                                <td colspan=3 >&nbsp;GPA = <%= (@cum * 100).round / 100.0 %></td>
                                <td><%=@stcredit%></td>
                            </tr>

                        </tbody>

                    </table>
                    <% end %>
                </div>
            </div>

            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <%if @sen.count > 0%>
                    <table class="table table-bordered" border="0">
                        <thead>
                            <tr>                    
                                <th width="308">&nbsp;Course Study - Senior</th>
                                <th width="110">Weighted</th>
                                <th width="73">&nbsp;Grade </th>
                                <th width="73">&nbsp;Credits</th>                    
                            </tr>
                        </thead>
                        <% @gpa = 0
                        @setcredit = 0 %>
                        <% @sen.each do |k,val| %>
                        <tbody>
                            <tr>                    
                                <td>&nbsp;<%= val["subject"] %>: <%= val["course"] %></td>
                                <td><%= val["honor"]%></td>
                                <td>&nbsp;<%= val["grade"]%></td>
                                <td>&nbsp;<%= val["credit"]%></td>
                                <%
                                if val["honor"]=='AP'
                                    ap=1 
                                elsif val["honor"]=='Honors'
                                    ap=0.5
                                else
                                    ap=0
                                end
                                @gpa = @gpa + @val[val["grade"]] +ap
                                if !['F', 'NC', 'CR', 'W', 'I'].include?  val["grade"]
                                    @setcredit = @setcredit + val["credit"].to_f
                                else
                                    @setcredit = @setcredit + val["credit"].to_f
                                end
                                @segpacredit = @gpa/@setcredit

                                %>               
                            </tr>
                            <%end%>
                            <tr>
                                <% @segpacredit=="NaN" ? @cum=0 : @cum=@segpacredit %>                  
                                <td colspan=3 >&nbsp;GPA = <%= (@cum * 100).round / 100.0 %></td>
                                <td><%=@setcredit%></td>
                            </tr>

                        </tbody>

                    </table>
                    <% end %>
                </div>
            </div>


        </div>
        <div class="clearfq"></div>
        <div class="qpd-outer">
            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <table class="table table-bordered">
                        <thead>
                            <tr>            
                                <th colspan="5">&nbsp;Summary By Grade</th>            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>            
                                <td>Grade</td>
                                <% arra=["Freshman","Sophomore","Junior","Senior"]
                                arra.each do |val| %>
                                <td><%=val%></td>
                                <%end%>                       
                            </tr>
                            <tr>            
                                <td width="150">Cum. GPA</td>
                                <% arr=[@fgpacredit,@sgpacredit,@jgpacredit,@segpacredit]
                                arr.each do|val|%>
                                <td width="103.5"><%=(val * 100).round / 100.0  if !val.blank?%></td>
                                <%end%>
                            </tr>
                            <tr>            
                                <td>Credits Earned</td>
                                <% arr1=[@ftcredit,@stcredit,@jtcredit,@setcredit]
                                arr1.each do|val|%>
                                <td><%=val%></td>
                                <%end%>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="qpd-outer">
            <div class="qpd-outer2">
                <div class="table-responsive table1">
                    <table class="table table-bordered">
                        <thead>
                            <tr>            
                                <th colspan="4">&nbsp;Cumulative Summary (Freshman - Senior)</th>            
                            </tr>
                        </thead>
                        <tbody class="no-left">
                            <tr>            
                                <td width="141">Total Credits</td>
                                <td width="141">GPA Credits</td>
                                <td width="141">GPA Points</td>
                                <td width="141">GPA</td>                                
                            </tr>
                            <tr>            
                                <td><%=@student.total_credit[0]%></td>
                                <td><%=@student.gpa_credit[0]%></td>
                                <td><%= number_with_precision(@student.gpa_points[0], :precision=>2) %></td>
                                <td><% @student.cumulative_gpa[0]=="NaN" ? @cum=0 : @cum=@student.cumulative_gpa[0] %>
                                 <%=@cum%></td>                      
                             </tr>          
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
         <div class="clearfq"></div>
         <div class="qpd-outer">
            <div class="qpd-outer2">
                <div class="table-responsive table1">
                  <table class="table table-bordered">
                    <thead>
                      <tr>            
                        <th colspan="5">&nbsp;Grading Scale</th>            
                    </tr>
                </thead>
                <tbody class="no-left">
                  <tr>            
                    <td width="112.8">90 - 100</td>
                    <td width="112.8">80 - 89</td>
                    <td width="112.8">70 - 79</td>
                    <td width="112.8">60 - 69</td>
                    <td width="112.8">0 - 59</td>                                   
                </tr>
                <tr>            
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>F</td>            
                </tr>          
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="clearfq"></div>
<div class="qpd-outer">
    <div class="qpd-outer2">
        <div class="table-responsive table1">
          <table class="table table-bordered">
              <tbody class="no-bold">
                <tr>            
                    <td colspan="4" style="padding:8px 8px 8px 10px!important;"><input type="textarea" class="text-table" value=""/></td>          
                </tr>
                <tr>
                  <td colspan="2" width="282">&nbsp; Authorized Signature </td>
                  <td colspan="2" width="282">Date:&nbsp;<%= Time.now.strftime("%m/%d/%Y")%></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>       

</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 tplgin5">
            
        <%= link_to view_pdf_admin_student_path(@student, :format => "pdf"),:class=>"btn btn-info btn-xs" do %>
            <i><span class="glyphicon glyphicon-download-alt"></span></i> Download Pdf
        <%end%>
        <%= link_to 'javascript:void(0)',onclick: "javascript:window.print()",:class=>"btn btn-success btn-xs" do %>
            <i><span class="glyphicon glyphicon-print"></span></i> Print
        <%end%>
        </div>
    </div>
</div>
<br/>
<br/>









