<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= wicked_pdf_stylesheet_link_tag "pdf" , media: 'all' %>

<style>


			  
</style>
<br>
<div class="wraper">
        <div>
                <div class="lft-side">
                <h4>HIGH SCHOOL TRANSCRIPT</h4>
                (Grades 9-12)<br />
                Graduation Date: <%=@student.graduation_date%>
                
                </div>
                <div class="rgt-side">
                
                    <div class="school_logo">
                    <div class="lg-inside">OFFICIAL</div>
                
                            <div class="high-school">
                            <div class="">
                
                          	<ul>
                                      <li id='auto_radius'>
                                      
                                      <span class='w12'>H</span>
                                     <span class='w13'>I</span>
                                     <span class='w14'>G</span>
                                     <span class='w15'>H</span>
                                     <span class='w16'>S</span>
                                     <span class='w17'>C</span>
                                     <span class='w18'>H</span>
                                     <span class='w19'>O</span>
                                     <span class='w20'>O</span>
                                     <span class='w21'>L</span>
                                     <span class='w5'>T</span>
                                     <span class='w6'>R</span>
                                     <span class='w7'>A</span>
                                     <span class='w8'>N</span>
                                     <span class='w9'>S</span>
                                     <span class='w10'>C</span>
                                     <span class='w0'>R</span>
                                     <span class='w1'>I</span>
                                     <span class='w2'>P</span>
                                     <span class='w3'>T</span>
                                    
                                     
                              </li>
                        </ul>	  
                         
                    
                         
                            </div>
                            </div>
                    </div>
                
                
                
                </div>
        </div>
        
        <div class="add_section">
        <div class="f-side">
        <div>
        <span class="st-info">Student Information</span><br />
        	<%=@school.school_name%><br>
			Sample Parent<br>
			<%=@school.address1%> , <%=@school.address2%> , <%=@school.address3%><br>
			<%@school_country = Carmen::Country.coded(@school.country)%>
			<% @subregions = @school_country.subregions %>
			<% @school_state = @subregions.coded(@school.state) %>
			<%if @school_state.blank?%>
			<%= @school.state%>				
			<%else%>
			<%=@school_state.name%>
			<%end%>

			<%=@school.state%> , <%=@school_country%> , <%=@student.zip%><br>
			<%=@school.phone%><br>
			<%=@school.email%><br>
        
        </div>
        </div>
        
        <div class="s-side">
        <div>
         <span class="st-info">School of Record</span><br />
        <%=@student.first_name%> <%=@student.middle_name%> <%=@student.last_name%><br>
			Date of Birth: <%=@student.dob%><br>
			<%=@student.address1%> , <%=@student.address2%> , <%=@student.address3%><br>
			<%@country = Carmen::Country.coded(@student.country)%>
			<% @subregions = @country.subregions %>
			<% @state = @subregions.coded(@student.state) %>
			<%if @state.blank?%>
			<%= @student.state%>				
			<%else%>
			<%=@state.name%>
			<%end%>
			, <%=@country%> , <%=@student.zip%><br>
			<%=@student.phone%><br>
			<%=@student.email%><br>
        
        </div>
        
        </div>
        
        
        </div>
        
        <div class="clear"></div>

<div class="tab-section">
	<%@student.subject.length.times do|academic|%>
	<% if academic%2== 0 %>
	    <div class="tab-one">
	<%else%>
		<div class="tab-two">
	<%end%>
        
        <div class="course">
        <div class="cour">Course Study - <%=@student.grad_name[academic]%> </div>
        <div class="grade bd-gray">Grade </div>
        <div class="credite cr-left">Credits</div>
        </div>
       
        <% @student.subject[academic].split(",").length.times do|f| %>

	        <div class="lite_section">
		        <div class="study"><%= @student.subject[academic].split(",")[f]%></div>
		        <div class="grade-a bd-gray"><%= @student.grade[academic].split(",")[f]%></div>
		        <div class="credite-a cr-left"><%= @student.credits[academic].split(",")[f]%></div>
	        </div>
		<%end%>    
       
        <div class="lite_section">
        <div class="study-last">GPA = <%=@student.cumulative_gpa[academic]%> </div>
        <div class="credite-a cr-left"><%=@student.total_credit[academic]%></div>
        </div>
        
        
        </div>
      <div style="width:20px;float:left;"></div>  
    <%end%>    
        
        

</div>
<div class="tab-section">
    <div class="tab-one">

		<div class="course">
		    <div class="cumulative">Summary By Grade</div>
		</div>
		        
		<div class="summary">
		    <div class="cum-gpa bd-gray ">Grade </div>

			<%@student.subject.length.times do|academic|%>
				<div class="nineth bd-gray ">
					<%=@student.grad_name[academic]%>
				</div>
			<%end%>
		</div>

		<div class="summary">
		    <div class="cum-gpa bd-gray ">Cum. GPA</div>
			<%@student.subject.length.times do|academic|%>
				<div class="nineth bd-gray ">
					<%=@student.cumulative_gpa[academic]%>
				</div>
			<%end%>
		</div>

		<div class="summary">
		    <div class="cum-gpa bd-gray ">Credits Earned</div>
			<%@student.subject.length.times do|academic|%>
				<div class="nineth bd-gray ">
					<%=@student.total_credit[academic]%>
				</div>
			<%end%>
		</div>




 		<div class="course">
        	<div class="cumulative">Grading Scale</div>
        </div>
        
        <div class="summary">
        	<div class="gra-one bd-gray ">90 - 100 </div>
        	<div class="gra-two bd-gray ">80 - 89  </div>
       		<div class="gra-three bd-gray ">70 - 79</div>
       		<div class="gra-four bd-gray ">60 - 69 </div>
        	<div class="gra-five bd-gray ">0 - 59</div>
        
        </div>
        <div class="summary">
        	<div class="gra-one bd-gray ">A</div>
        	<div class="gra-two bd-gray ">B</div>
       		<div class="gra-three bd-gray ">C</div>
       		<div class="gra-four bd-gray ">D</div>
        	<div class="gra-five bd-gray ">E</div>
        
        </div>
        
        <div class="authoeize">
        	<div class=""><input type="textarea" value="" /></div>
       		<div class="atho">
        	<div class="atho-one bd-gray">Authorized Signature </div>
        	<div class="atho-sec bd-gray">Date: 01/27/2014</div>
        	</div>
		</div>

		<p id="pdf_link">
		    <%= link_to "Download(PDF)",view_pdf_admin_student_path(@student, :format => "pdf") %>
		    <%= link_to "PRINT", '#', onclick: "printpage()" %>
	     </p>
	</div>


	<div class="tab-two">
		<div class="course">
        <div class="cumulative">Cumulative Summary (9th - 12th)</div>
        </div>
       
        <div class="total_cr">
	        <div class="tot-cr bd-gray ">Total Credits</div>
	        <div class="gpa-cr bd-gray ">GPA Credits </div>
	        <div class="gpa-point bd-gray ">GPA Points </div>
	        <div class="gpa bd-gray ">GPA</div>   
        </div>
        <div class="total_cr">
	        <div class="tot-cr bd-gray ">
	        	<%x = @student.total_credit.map {|j| j.to_i}%>
				<%= x.inject{|sum , num| sum += num}%>
			</div>
	        <div class="gpa-cr bd-gray ">
	        	<%x = @student.gpa_credit.map {|j| j.to_i}%>
				<%= x.inject{|sum , num| sum += num}%>
			</div>
	        <div class="gpa-point bd-gray ">
	        	<%x = @student.gpa_points.map {|j| j.to_i}%>
				<%= x.inject{|sum , num| sum += num}%>
			</div>
	        <div class="gpa bd-gray ">
	        	<%x = @student.cumulative_gpa.map {|j| j.to_i}%>
				<%y = x.inject{|sum , num| sum += num}%>
				<%= y/@student.cumulative_gpa.length %>
	        </div>   
        </div>
    </div>

   


</div>


