
<div class="mini-title-head-bar logiq1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub">
            <li><%= link_to 'Home',root_path %></li>
            <li class="active">Edit <%= resource_name.to_s.humanize %></li>
          </ul>                    
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <% if alert %>
            <center><p class="alert alert-danger"><%= alert %></p></center>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class="">Edit Profile</strong>

        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class=>"form-horizontal" }) do |f| %>
          <div class="form-group required">
            <%= f.label :email, :class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :email, autofocus: true,:class=>"form-control",:required => true %> 
            </div>
            <span class="inline-errors">
              <%=@user.errors[:email].join(",") %> 
            </span>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group required">
            <%= f.label :first_name,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :first_name, autocomplete: "off",:class=>"form-control",:required => true %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:first_name].join(",") %> 
            </span>
          </div>
          <div class="form-group required">
            <%= f.label :last_name,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :last_name, autocomplete: "off",:class=>"form-control",:required => true %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:last_name].join(",") %> 
            </span>
          </div>
          <div class="form-group">
            <%= f.label :address_line_1,:class=>"col-sm-3 control-label rigys1" %> 
            <div class="col-sm-9">
              <%= f.text_field :address1, autocomplete: "off",:class=>"form-control" %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:address1].join(",") %> 
            </span>
          </div>
          <div class="form-group">
            <%= f.label :address_line_2,:class=>"col-sm-3 control-label rigys1" %> 
            <div class="col-sm-9">
              <%= f.text_field :address2, autocomplete: "off",:class=>"form-control" %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:address2].join(",") %> 
            </span>
          </div>
          <div class="form-group">
            <%= f.label :address_line_3,:class=>"col-sm-3 control-label rigys1" %> 
            <div class="col-sm-9">
              <%= f.text_field :address3, autocomplete: "off",:class=>"form-control" %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:address3].join(",") %> 
            </span>
          </div>
          <div class="form-group required">
            <%= f.label :country,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'},:class=>"form-control", :required => true  %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:country].join(",") %> 
            </span>  
          </div>
          <div class="form-group">
            <%= f.label :state,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= render partial: 'subregion_select', locals: {parent_region: f.object.country}%> 
            </div>
            <span class="inline-errors">
              <%=@user.errors[:state].join(",") %> 
            </span>
          </div>
          <div style="clear:both"></div>
          <div class="form-group">
            <%= f.label :city,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :city, autocomplete: "off",:class=>"form-control"  %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:city].join(",") %> 
            </span>
          </div>
          <div class="form-group">
            <%= f.label :zip,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :zip, autocomplete: "off",:class=>"form-control" %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:zip].join(",") %> 
            </span>
          </div>
          <div class="form-group">
            <%= f.label :phone,:class=>"col-sm-3 control-label rigys1" %>
            <div class="col-sm-9">
              <%= f.text_field :phone, autocomplete: "off",:class=>"form-control" %>
            </div>
            <span class="inline-errors">
              <%=@user.errors[:phone].join(",") %> 
            </span>
          </div>

          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <a>
                <%= f.submit "Update", :class=>"btn btn-info" %>
              </a>
            </div>
          </div>
          <% end %>
        </div>
        
        <div class="panel-footer">Not Edit in profile? <%= link_to "Back", :back %>
        </div>
      </div>
    </div>

  </div>
</div>
