
<div style="background-image:url(/assets/about-header.jpg);" class="parallax">
  <div class="container">
    <h1 class="aboutttl">See why over 10 million visitors use Transcripts</h1>
  </div>
</div>
<div class="mini-title-head-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub">
            <li><%= link_to 'Home',root_path %></li>
            <li class="active">Contact Us</li>
          </ul>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Quick Links</li>
      <li class="list-group-item">
        <%= link_to about_path do %>
        <i class="fa fa-group"></i>&nbsp;About Us
        <%end%>
      </li>
      <li class="list-group-item">
        <%= link_to contact_path do %>
        <i class="fa fa-envelope"></i>&nbsp;Contact Us
        <%end%>
      </li>
      <li class="list-group-item"><a href="#"><i class="fa fa-leanpub"></i>&nbsp;Terms & Conditions</a></li>
      <li class="list-group-item"><a href="#"><i class="fa fa-globe"></i>&nbsp;Privacy Policy</a></li>
      <li class="list-group-item"><a href="#"><i class="fa fa-lock"></i>&nbsp;Faq's</a></li>
    </ul>  
  </div>

  <div class="col-md-9 site-contact" id="team">
    <p>
      If you have business inquiries or other questions, please fill out the following form.
    </p>
    <%= form_for @message, url: contact_path do |message_form| %>

    <div class="row">
      <div class="col-lg-10">

        <div class="form-group field-contactform-name required">
          <label class="control-label">Full Name</label>
          <%= message_form.text_field :name, placeholder: "Name", :class=>"form-control" %>

          <p class="help-block help-block-error"></p>
        </div>                                                                 
        <div class="form-group field-contactform-name required">
          <label class="control-label">Email Address</label>
          <%= message_form.email_field :email, placeholder: "Email", :class=>"form-control" %>
          <p class="help-block help-block-error"></p>
        </div>
        <div class="form-group field-contactform-name">
          <label class="control-label">Phone No.</label>
          <%= message_form.text_field :phnumber, placeholder: "Phone No.", :class=>"form-control" %>
          <p class="help-block help-block-error"></p>
        </div>                       
        <div class="form-group field-contactform-body">
          <label for="contactform-body" class="control-label">Message</label>
          <%= message_form.text_area :content, placeholder: "Message", :class=>"form-control" %>
          <p class="help-block help-block-error"></p>
        </div>                        
        <div class="form-group field-contactform-verifycode">
          <p class="help-block help-block-error"></p>
        </div>                        
        <div class="form-group">
          <!-- <button name="contact-button" class="btn btn-primary" type="submit">Submit</button> -->
          <%= message_form.submit "Submit", :class=>"btn btn-primary" %>                        
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>   
