
<div class="mini-title-head-bar logiq1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub">
            <li><%= link_to 'Home',root_path %></li>
            <li class="active">Dashboard</li>
          </ul>                    
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% if alert %>
      <center><p class="alert alert-danger"><%= alert %></p></center>
    <% end %>
    <% if flash[:notice] %>
      <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
    <% end %>
    <%= link_to edit_user_registration_path do %>
    <div class="col-md-3 col-sm-3">
     <div class="panel panel-default">
      <div class="panel-heading dashy1">User</div>
      <div class="panel-body dashy2">
       <img class="dashy6" src="/assets/userdash.png" alt="" /> </div>
     </div>
   </div>
  <% end %>
  
  <%if !@expire.blank?
    @css = 'disabled'
  %>  
  <%else
    @css = ''
  %>
  <%end%>
   <%= link_to schools_path,:class=>@css do %>
   <div class="col-md-3 col-sm-3">
     <div class="panel panel-default">
      <div class="panel-heading dashy1">School</div>
      <div class="panel-body dashy2">
       <img class="dashy6" src="/assets/schooldash.png" alt="" /> </div>
     </div>
   </div>
   <% end %>

   
   <% if current_user.school.blank? %>
   <%= link_to schools_path,:class=>@css  do%>
   <div class="col-md-3 col-sm-3">
     <div class="panel panel-default">
      <div class="panel-heading dashy1">Students</div>
      <div class="panel-body dashy2">
       <img class="dashy6" src="/assets/studentdash.png" alt="" /> </div>
     </div>
   </div>
   <% end %>

   <% else %>
   <%= link_to school_students_path(current_user.school.id),:class=>@css do %>

   <div class="col-md-3 col-sm-3">
     <div class="panel panel-default">
      <div class="panel-heading dashy1">Students</div>
      <div class="panel-body dashy2">
       <img class="dashy6" src="/assets/studentdash.png" alt="" /> </div>
     </div>
   </div>
   <% end %>
   <%end%>



  <div class="col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading dashy1">Plan</div>
        <div class="panel-body dashy2">
          <% if !current_user.subscription.blank?%>
            <%@plan_name="Upgrade Plan"%>
            <div class="dashy3">Current Plan: <span class="dashy4"><%= @subs_plan_name%></span></div>
              <div class="dashy3">Plan Subscription Date: <span class="dashy4"><%= current_user.subscription.created_at.strftime("%m-%d-%Y") %></span></div> 
              <div class="dashy3">Plan End Date: <span class="dashy4"><%= current_user.subscription.plan_end_date.strftime("%m-%d-%Y")  %></span></div> 
          <%else%>
            <%@plan_name="Purchase Plan"%>
            <div class="dashy3" >&nbsp</div>
            <div class="dashy3"><strong>No Plan has been purchased.</strong></div>
            <div class="dashy3" >&nbsp</div>
          <%end%>
          <%= link_to plans_path  do%>	
          <div class=""> <span role="button" class="btn btn-warning dashy5"><span class="glyphicon glyphicon-hand-right"></span>
           <%= @plan_name%></span></div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


