
<div class="mini-title-head-bar logiq1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub"><li><%= link_to 'Home',root_path %></li>
            <li class="active">School</li>
          </ul>                    
        </ol>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
    <% if alert %>
      <center><p class="alert alert-danger"><%= alert %></p></center>
    <% end %>
    <% if flash[:notice] %>
      <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
    <% end %>
        <div class="panel panel-default">
          <div class="panel-heading"> <strong class="clasq2"><%=@school.school_name%></strong>

          </div>
          <table class="table table-striped table-responsive table-bordered">
            <tbody>
              <tr>
                <th width="77%" rowspan="4" align="center" valign="middle" class="schoolq6"><img class="img-responsive" src="/assets/schoolbg.png" width="698" height="213"></th>
                <td width="23%" align="center" valign="middle">
                  <%= link_to school_path(@school.id),:class=>"btn btn-primary btn-xs schoolq1" do %>
                    <i><span class="glyphicon glyphicon-eye-open"></span></i> View
                  <%end%> 
                </td>
              </tr>
              <tr>
                <td align="center" valign="middle">
                  <%= link_to edit_school_path(@school.id),:class=>"btn btn-info btn-xs schoolq2" do %>
                    <i><span class="glyphicon glyphicon-edit"></span></i> Edit
                  <%end%>
                </td>
              </tr>
              <tr>
                <td align="center" valign="middle">
                  <%= link_to school_students_path(@school.id),:class=>"btn btn-primary btn-xs schoolq4" do %>
                    <i><span class="glyphicon glyphicon-check"></span></i> View Student List
                  <%end%>
                </td>
              </tr>
              <tr>
                <td align="center" valign="middle">
                  <%= link_to new_school_student_path(@school.id),:class=>"btn btn-success btn-xs schoolq5" do %>
                    <i><span class="glyphicon glyphicon-user"></span></i> Add New Student
                  <%end%>
                </td>
              </tr>
            </tbody></table>

          </div>
        </div>

      </div>
    </div>
 
