<div class = "container">

  <div class="row">
    <div class= "col-xs-2">&nbsp;</div>
    <div class= "col-xs-6"><h3>School Details:</h3></div>
    <div class= "col-xs-4">&nbsp;</div>
  </div>
  <div class ="row">
    <div class = "col-xs-2">&nbsp;</div>
    <div class = "col-xs-8">
      <table class="table table-striped table-responsive table-bordered">
        <tr>
          <th>School Name</th><td><%=@school.school_name%></td>
        </tr>
        <tr>
          <th>Admin Name</th><td><%=@school.admin_name%> </td>
        </tr>
        <tr>
          <th>Address</th><td><%=@school.address1%>, <%=@school.address2%> ,<%=@school.address3%></td>
        </tr>
        <tr>
          <th>Country</th><td><%=@country = Carmen::Country.coded(@school.country)%></td>
        </tr>
        <tr>
          <% @subregions = @country.subregions %>
          <% @state = @subregions.coded(@school.state) %>
          <th>State</th>
          <td>
            <%if @state.blank?%>
              <%= @school.state%>        
            <%else%>
              <%=@state.name%>
            <%end%>
          </td>
        </tr>
        <tr>
          <th>City</th><td><%=@school.city%></td>
        </tr>
        <tr>
          <th>Zip</th><td><%=@school.zip%></td>
        </tr>
        <tr>
          <th>Phone</th><td><%=@school.phone%></td>
        </tr>
        <tr>
          <th>Email id</th><td><%=@school.email%></td>
        </tr>
        <tr>
          <th>Academic Term</th><td><%=@school.academic_term%></td>
        </tr>
        <tr>
          <th>Grading Scale</th><td><%=@school.grading_scale%></td>
        </tr>
      </table>
    </div>
    <div class = "col-xs-2">&nbsp;</div>
  </div>
  <div class="actions">
    <%= link_to "Back", :back %>
  </div> 

</div>

