<div class="mini-title-head-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="greybeadcrub">
					<ul class="greybeadcrub">
						<li><%= link_to 'Home',root_path %></li>
						<li class="active">Plan</li>
					</ul> 
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<% if alert %>
    	<center><p class="alert alert-danger"><%= alert %></p></center>
    <% end %>
    <% if flash[:notice] %>
    	<center><p class="alert alert-success"><%= flash[:notice] %></p></center>
    <% end %>
	<%if @plan.blank?%>
	<h1>There is no Plan has been created yet!!</h1>
	<%else%>
	<%if !current_user.subscription.blank?%>
	<center><div class="upgradePlan">You Can Upgrade Your Plan !!</div></center> 
		<div class="col-sm-4">
	  <div class="panel panel-default">
	    <div class="panel-heading dashplan1">Current Plan</div>
	    <table class="table table-striped table-responsive table-bordered">
	      <tbody>
	        <tr>
	          <td colspan="2" align="center" class="rptrq6"><div class="dashy3">Current Plan:<br>
	            <span class="dashy4"><%= @subs_plan_name%></span></div>
	          </td>
	        </tr>
	        <tr>
	          <td colspan="2" align="center" class="rptrq6"><div class="dashy3">Plan Subscription Date: <br>
	            <span class="dashy4"><%= current_user.subscription.created_at.strftime("%m-%d-%Y") %></span></div>
	          </td>
	        </tr>
	        <% @subs_plan_name=='Trial' ? @renewaldate = "Trial Expire Date: " : @renewaldate = "Auto Renewal Date: "%>
	        <tr>
	          <td colspan="2" align="center" class="rptrq6"><div class="dashy3"><%= @renewaldate %><br>
	            <span class="dashy4"><%= current_user.subscription.plan_end_date.strftime("%m-%d-%Y")  %></span></div>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</div>
		
	<%end%>

	<% @plan.each do |plan| %>
	<%= form_for plan, url: transactions_path, method: :post do |f|%>
	<input type="hidden" name="amount" value="<%= plan.amount%>">
	<input type="hidden" name="subscription_period" value="<%= plan.subscription_period%>">
	<input type="hidden" name="plan_id" value="<%= plan.id%>">
	<% plan.subscription_period==12 ? @period='Yearly': @period='Lifetime'%> 
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="rptrq5"><%=plan.name%></div>
			</div>
			<div class="list-group">
				<div class="list-group-item txtalyn">Subscription : <%= @period%> </div>
				<div class="list-group-item txtalyn">Description : <%= plan.description%></div>
				<div class="list-group-item txtalyn">
					<span class="plan-duration prycpln2">Amount /  </span>
					<span class="prycpln">USD <%= (plan.amount.to_i)/100 %></span>
				</div>
				<div class="panel-heading">
					<div class="rptrq4">
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="pk_test_jMUKzHL4kwf1KFpFhTVA8QFu"
						data-description="<%= plan.name%>"
						data-label="Pay $<%= (plan.amount.to_i)/100%>"
						data-amount="<%= plan.amount%>">
					</script>    
					</div>
				</div>
			</div>
		</div>
	</div>
	<%end%>
	<%end%>
	
	<%end%>
</div>





