<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EducationalRecord</title>
	<% if !request.path.include? "admin"%>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%end%>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if !request.path.include? "admin"%>
		<%= render 'layouts/header'%>
		
		
	<% end %>
	
	<%= yield %>

	<% if !request.path.include? "admin"%>
		<%= render 'layouts/footer'%>
	<%end%>
</body>
</html>
