<!DOCTYPE html>
<html>
<head>
	<title>EducationalRecord</title>
	<% if !request.path.include? "admin"%>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= wicked_pdf_stylesheet_link_tag "pdf"%>
	<%end%>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<% if !request.path.include? "admin"%>
		<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
		<% end %>
	<% end %>

	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= render 'layouts/header'%>
	<%= yield %>

</body>
</html>
